.card {
    width: 324px;
    height: 426px;
    padding: 1rem;
    border-radius: 6px 6px 0 0;
    border-bottom: var(--secondary-color) solid 6px;
    background-color: var(--light-gray);
    color: var(--second-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    margin-bottom: 1rem;
}

.card h3 {
    color: var(--second-text-color);
    margin: 20px;
}