#footer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-light);
    color: var(--second-text-color);

    .links {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        a {
            color: var(--second-text-color);
        }
        
        a:hover {
            color: var(--primary-color);
        }
    }

    h3 {
        color: var(--second-text-color);
    }

    footer {
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
        background-color: var(--light-gray);
        color: var(--second-text-color);
        text-align: center;
        padding: 0.5rem;
    }
}

@media (width >=1280px) {

    #footer {
        height: 40vh;
        
        .links {
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            
            .px-icons {
                padding-left: var(--py-sm);
            }
        }

        footer {
            width: 100%;
            height: 8vh;
        }
    }

}