#footer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-color: var(--bg-light);
    color: var(--second-text-color);

    .links {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        a {
            color: var(--second-text-color);
        }
        
        a:hover {
            color: var(--primary-color);
        }
    }

    h3 {
        color: var(--second-text-color);
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 8vh;
        background-color: var(--light-gray);
        color: var(--second-text-color);
    }
}

@media (width >=1280px) {

    #footer {
        height: 37vh;
        justify-content: space-around;
        
        .links {
            justify-content: space-around;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            
            .px-icons {
                padding-left: var(--py-sm);
            }
        }
    }

}